astroid==2.6.2
cffi==1.12.2
cx-Freeze==5.1.1
greenlet==1.1.0
isort==5.9.1
jedi==0.18.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
msgpack==1.0.2
neovim==0.3.1
parso==0.8.2
Pillow==6.0.0
pycparser==2.19
pygame==1.9.5
pylint==2.9.3
pynvim==0.4.3
PyOpenGL==3.1.0
PySDL2==0.9.6
toml==0.10.2
typed-ast==1.4.3
typing-extensions==3.10.0.0
vulkan==1.1.99.0
wrapt==1.12.1
